body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
}

header {
  text-align: center;
  padding: 40px;
  background: #020617;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #020617;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.card h2 {
  color: #38bdf8;
}

.buttons {
  margin-top: 15px;
}

.buttons a {
  text-decoration: none;
  color: #020617;
  background: #38bdf8;
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 8px;
  font-weight: bold;
}
